.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.background {
  background-image: url('./images/pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1.ui.header.h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  padding-bottom: 0.5em;
}

.menu-bg {
  background: rgba(252, 90, 44, 0.89) !important;
}

.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100%;
}

#app {
  height: 100%;
}
